In [11]:
from datasets import load_dataset
import pandas as pd

In [16]:
dataset = load_dataset("Seongill/SQuAD_unique_questions")

Downloading readme: 100%|██████████| 592/592 [00:00<00:00, 2.54MB/s]
Downloading data: 100%|██████████| 253M/253M [00:55<00:00, 4.55MB/s]
Downloading data: 100%|██████████| 254M/254M [00:43<00:00, 5.85MB/s]
Generating train split: 100%|██████████| 97888/97888 [00:01<00:00, 51607.93 examples/s]

In [17]:
dataset

DatasetDict({
    train: Dataset({
        features: ['id', 'title', 'context', 'question', 'answers', 'masked_query', 'query_embedding'],
        num_rows: 97888
    })
})

In [8]:
dataset = dataset["train"]

In [9]:
dataset

Dataset({
    features: ['subset', 'context', 'qid', 'question', 'detected_answers', 'answers', 'query_embedding'],
    num_rows: 253798
})

In [10]:
dataset = dataset.remove_columns(["query_embedding", "qid", "question",'detected_answers', 'answers'])

In [12]:
df = pd.DataFrame(dataset)

In [15]:
for subset in df.subset.unique():
    subdf = df[df.subset == subset]
    subdf["context_word_count"] = subdf.context.apply(lambda x: len(x.split()))
    print(subset, subdf.context_word_count.mean())

/tmp/ipykernel_246328/2514229723.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subdf["context_word_count"] = subdf.context.apply(lambda x: len(x.split()))

SQuAD 119.78705943856151

/tmp/ipykernel_246328/2514229723.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subdf["context_word_count"] = subdf.context.apply(lambda x: len(x.split()))

TriviaQA-web 673.4499599819048
SearchQA 646.9646711258778

/tmp/ipykernel_246328/2514229723.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subdf["context_word_count"] = subdf.context.apply(lambda x: len(x.split()))

In [4]:
sub_dataset = dataset.filter(lambda example: example["subset"] == "SearchQA")

Filter: 100%|██████████| 253798/253798 [00:56<00:00, 4522.11 examples/s]

In [6]:
ctxs = []
for row in sub_dataset["train"]:
    ctx = row["context"]
    ctxs.append(len(ctx.split()))
sum(ctxs) / len(ctxs)

646.9646711258778

In [24]:
new_ctxs = []
for row in dataset["train"]:
    new_ctxs.append(sorted(row["ctxs"], key=lambda x: x["score"], reverse=True)[:5])
dataset["train"] = dataset["train"].remove_columns(["ctxs"])
dataset["train"] = dataset["train"].add_column("ctxs", new_ctxs)
new_ctxs = []
for row in dataset["test"]:
    new_ctxs.append(sorted(row["ctxs"], key=lambda x: x["score"], reverse=True)[:5])
dataset["test"] = dataset["test"].remove_columns(["ctxs"])
dataset["test"] = dataset["test"].add_column("ctxs", new_ctxs)

In [26]:
dataset.push_to_hub("Atipico1/NQ")

Creating parquet from Arrow format: 100%|██████████| 88/88 [00:00<00:00, 90.16ba/s]
Uploading the dataset shards: 100%|██████████| 1/1 [00:22<00:00, 22.65s/it]
Creating parquet from Arrow format: 100%|██████████| 4/4 [00:00<00:00, 90.07ba/s]
Uploading the dataset shards: 100%|██████████| 1/1 [00:01<00:00,  1.77s/it]

CommitInfo(commit_url='https://huggingface.co/datasets/Atipico1/NQ/commit/f64681264c74eaef4a9f75ed1c1639a9192663e7', commit_message='Upload dataset', commit_description='', oid='f64681264c74eaef4a9f75ed1c1639a9192663e7', pr_url=None, pr_revision=None, pr_num=None)

In [25]:
len(dataset["train"][0]['ctxs'])

5

In [19]:
dataset["train"][0]['ctxs']

[{'hasanswer': False,
  'id': '12820371',
  'score': 1.2165672,
  'text': 'on death row in the United States on January 1, 2013. Since 1977, the states of Texas (464), Virginia (108) and Oklahoma (94) have executed the most death row inmates. , California (683), Florida (390), Texas (330) and Pennsylvania (218) housed more than half of all inmates pending on death row. , the longest-serving prisoner on death row in the US who has been executed was Jack Alderman who served over 33 years. He was executed in Georgia in 2008. However, Alderman only holds the distinction of being the longest-serving "executed" inmate so far. A Florida inmate, Gary Alvord, arrived',
  'title': 'Death row'},
 {'hasanswer': False,
  'id': '2457140',
  'score': 1.1802328,
  'text': 'people, and Gary Lee Sampson who was sentenced to death a second time in 2017 for two carjacking murders (after an original 2003 death sentence for the same crimes was vacated in 2011). As of September 28, 2018, there are 63 offenders on federal death row, most of them at Federal Correctional Complex in Terre Haute, Indiana. The only woman on federal death row as of 2018, Lisa M. Montgomery, is held at Federal Medical Center, Carswell, in Fort Worth, Texas. , aside from those at Terre Haute, three male death row inmates are held at ADX Florence, two are',
  'title': 'Capital punishment by the United States federal government'},
 {'hasanswer': False,
  'id': '17689323',
  'score': 1.1727095,
  'text': "murder, with the exception of Ethel Rosenberg who was sentenced to death for espionage. Women on death row have a relatively low chance of actually being executed: there have only been 571 documented executions from 1632 to 2012. Currently, about half of the women on death row are in the top five states for death row sentencing (California, Florida, Texas, North Carolina and Ohio). Although California is the top state for death sentences, no woman has been executed since 1962. Although both men and women suffer from mental issues at approximately the same rate, they don't experience the same disorders.",
  'title': 'Incarceration of women in the United States'},
 {'hasanswer': False,
  'id': '6762996',
  'score': 1.1683524,
  'text': 'to be 113 per 100,000 for the period 1976–1999. This is about ten times the rate of suicide in the United States as a whole and about six times the rate of suicide in the general U.S. prison population. Since the re-institution of the death penalty in 1976 to January 1, 2017, 145 prisoners have waived their appeals and asked that the execution be carried out. In the post-"Furman" era, four states (Connecticut, New Mexico, Oregon, and Pennsylvania) have executed only volunteers. The theory of the death row phenomenon may be traced to 1989, when the European Court of Human',
  'title': 'Death row phenomenon'},
 {'hasanswer': False,
  'id': '2456648',
  'score': 1.1667547,
  'text': '1976. However, this is an under-representation relative to the proportion of convicted murderers; 52.5% of all homicide offenders between 1980 and 2008 were African Americans. According to a 2003 Amnesty International report, blacks and whites were the victims of murder in almost equal numbers. Approximately 13.5% of death row inmates are of Hispanic or Latino descent, while they make up 17.4% of the general population. As of October 1, 2016, the Death Penalty Information Center reports that there are only 54 women on death row. This constitutes 1.86% of the total death row population. 16 women have been executed since',
  'title': 'Capital punishment in the United States'},
 {'hasanswer': False,
  'id': '2456649',
  'score': 1.1367356,
  'text': '1976, while 1442 men have been executed. 15,391 total confirmed lawful executions have been carried out in the US since 1608, and of these, 575, or 3.6%, were women. Women account for 1/50 death sentences, 1/67 people on death row, and 1/100 people whose executions are actually carried out. The states that have executed the most women are California, Texas and Florida. For women, the racial breakdown of those sentenced to death is 21% black, 13% Latina, 2% American Indian, 61% white and 3% Asian. All 30 states with the death penalty provide lethal injection as the primary method of',
  'title': 'Capital punishment in the United States'},
 {'hasanswer': False,
  'id': '9987825',
  'score': 1.1131008,
  'text': 'death row has about 290 prisoners. As of March 2013 eight male death row prisoners are housed in Jester IV Unit, a psychiatric unit, instead of Polunsky. The state of Texas began housing death row inmates in the Huntsville Unit in 1928. In 1965 the male death row inmates moved to the Ellis Unit. In 1999 the male death row moved to Polunsky. In the 1923-1973 period Texas state authorities had three female death row inmates; the first, Emma "Straight Eight" Oliver, was held at Huntsville Unit after her 1949 sentencing, but had her sentence commuted to life imprisonment in',
  'title': 'Texas Department of Criminal Justice'},
 {'hasanswer': False,
  'id': '12820370',
  'score': 1.1081429,
  'text': 'commit suicide. In the United States, prisoners may wait many years before execution can be carried out due to the complex and time-consuming appeals procedures mandated in the jurisdiction. The time between sentencing and execution has increased relatively steadily between 1977 and 2010, including a 22% jump between 1989 and 1990 and a similar jump between 2008 and 2009. In 2010, a death row inmate waited an average of 178 months (roughly 15 years) between sentencing and execution. Nearly a quarter of inmates on death row in the U.S. die of natural causes while awaiting execution. There were 3,125 people',
  'title': 'Death row'},
 {'hasanswer': False,
  'id': '12970124',
  'score': 1.0984373,
  'text': 'a criminal sentence. Of those thirty-six states, Texas executed the most inmates during 2009 with 24 executions. The total number of executions in the United States in 2009 was 52. In 2009, the total number of inmates serving a death sentence in the United States was 3,173. Many executions are delayed as inmates seek appeals to overturn sentences or convictions. Advances in science and in particular, DNA testing, have yielded more accurate forensic evidence. In some cases, post-conviction testing has helped innocent people establish that they were wrongfully convicted and to gain exonerations. In the process, comparisons to state and',
  'title': 'Innocence Protection Act'},
 {'hasanswer': False,
  'id': '11343821',
  'score': 1.0934942,
  'text': "single cells in the segregation unit. The William E. Donaldson Correctional Facility has a male death row with a capacity of 24. Donaldson's death row houses prisoners who need to stay in the Birmingham judicial district. Julia Tutwiler Prison for Women houses the female death row. All executions occur at Holman. From 1983 to April 2018, Alabama has executed 63 people. As of 2018, Alabama had 191 inmates on death row, the 4th highest number in the US. A governor has commuted only one death sentence since 1976: outgoing Governor Fob James commuted Judith Ann Neelley's death sentence to life",
  'title': 'Capital punishment in Alabama'}]

In [8]:
dataset = dataset.remove_columns(["context_tokens","question_tokens"])

In [10]:
dataset = dataset.remove_columns(["__index_level_0__"])

In [12]:
dataset.push_to_hub("Atipico1/mrqa_squad-tqa-sqa")

Creating parquet from Arrow format: 100%|██████████| 133/133 [00:00<00:00, 155.45ba/s]
Creating parquet from Arrow format: 100%|██████████| 133/133 [00:01<00:00, 71.20ba/s]
Uploading the dataset shards: 100%|██████████| 2/2 [00:56<00:00, 28.33s/it]

CommitInfo(commit_url='https://huggingface.co/datasets/Atipico1/mrqa_squad-tqa-sqa/commit/176968afba56204c53a661fa4138c67e086a8b35', commit_message='Upload dataset', commit_description='', oid='176968afba56204c53a661fa4138c67e086a8b35', pr_url=None, pr_revision=None, pr_num=None)

In [1]:
from datasets import load_dataset

dataset = load_dataset("mrqa")

/data/seongilpark/conda_envs/ft/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Downloading data: 100%|██████████| 116M/116M [00:44<00:00, 2.58MB/s]
Downloading data: 100%|██████████| 106M/106M [00:47<00:00, 2.25MB/s]
Downloading data: 100%|██████████| 202M/202M [01:13<00:00, 2.76MB/s]
Downloading data: 100%|██████████| 205M/205M [01:13<00:00, 2.80MB/s]
Downloading data: 100%|██████████| 202M/202M [01:10<00:00, 2.84MB/s]
Downloading data: 100%|██████████| 202M/202M [01:20<00:00, 2.51MB/s]
Downloading data: 100%|██████████| 204M/204M [01:20<00:00, 2.51MB/s]
Downloading data: 100%|██████████| 221M/221M [01:27<00:00, 2.52MB/s]
Downloading data: 100%|██████████| 26.7M/26.7M [00:11<00:00, 2.30MB/s]
Downloading data: 100%|██████████| 15.5M/15.5M [00:05<00:00, 2.70MB/s]
Downloading data: 100%|██████████| 178M/178M [01:10<00:00, 2.50MB/s]
Generating train split: 516819 examples [00:09, 55321.25 examples/s]
Generating test split: 9633 examples [00:00, 73470.55 examples/s]
Generating validation split: 58221 examples [00:01, 50898.19 examples/s]

In [3]:
import pandas as pd
df = pd.DataFrame(dataset['train'])

In [8]:
df.subset.unique()

array(['SQuAD', 'NewsQA', 'TriviaQA-web', 'SearchQA', 'HotpotQA',
       'NaturalQuestionsShort'], dtype=object)

In [7]:
df[df.subset == "TriviaQA"]

Empty DataFrame
Columns: [subset, context, context_tokens, qid, question, question_tokens, detected_answers, answers]
Index: []

In [9]:
subset = df[df.subset.isin(['SQuAD','TriviaQA-web', 'SearchQA'])]
subset

,subset,context,context_tokens,qid,question,question_tokens,detected_answers,answers
0,SQuAD,"Architecturally, the school has a Catholic cha...","{'tokens': ['Architecturally', ',', 'the', 'sc...",38cc2597b6624bd8af1e8ba7f693096f,To whom did the Virgin Mary allegedly appear i...,"{'tokens': ['To', 'whom', 'did', 'the', 'Virgi...","{'text': ['Saint Bernadette Soubirous'], 'char...",[Saint Bernadette Soubirous]
1,SQuAD,"Architecturally, the school has a Catholic cha...","{'tokens': ['Architecturally', ',', 'the', 'sc...",b17a05e67fd14669860a380d66aed5fb,What is in front of the Notre Dame Main Building?,"{'tokens': ['What', 'is', 'in', 'front', 'of',...","{'text': ['a copper statue of Christ'], 'char_...",[a copper statue of Christ]
2,SQuAD,"Architecturally, the school has a Catholic cha...","{'tokens': ['Architecturally', ',', 'the', 'sc...",80a511ed750842d08ecdfaaaa257d95f,The Basilica of the Sacred heart at Notre Dame...,"{'tokens': ['The', 'Basilica', 'of', 'the', 'S...","{'text': ['the Main Building'], 'char_spans': ...",[the Main Building]
3,SQuAD,"Architecturally, the school has a Catholic cha...","{'tokens': ['Architecturally', ',', 'the', 'sc...",913477b8e7f84432a16e1594219815e5,What is the Grotto at Notre Dame?,"{'tokens': ['What', 'is', 'the', 'Grotto', 'at...",{'text': ['a Marian place of prayer and reflec...,[a Marian place of prayer and reflection]
4,SQuAD,"Architecturally, the school has a Catholic cha...","{'tokens': ['Architecturally', ',', 'the', 'sc...",1c969af40a3248eb87a6d8c9c7c8d4ad,What sits on top of the Main Building at Notre...,"{'tokens': ['What', 'sits', 'on', 'top', 'of',...",{'text': ['a golden statue of the Virgin Mary'...,[a golden statue of the Virgin Mary]
...,...,...,...,...,...,...,...,...
339815,SearchQA,[DOC] [TLE] RPubs - What Is This Obscure Quest...,"{'tokens': ['[DOC]', '[TLE]', 'RPubs', '-', 'W...",75de6544c0044658b5e4b1ac0abefa61,In North America this term is properly applied...,"{'tokens': ['In', 'North', 'America', 'this', ...","{'text': ['a titmouse'], 'char_spans': [{'star...",[a titmouse]
339816,SearchQA,[DOC] [TLE] RPubs - What Is This Obscure Quest...,"{'tokens': ['[DOC]', '[TLE]', 'RPubs', '-', 'W...",965a796bb4ef4eb38886290bdab56dd1,In 2006 the cast of this long-running hit emba...,"{'tokens': ['In', '2006', 'the', 'cast', 'of',...","{'text': ['Stomp'], 'char_spans': [{'start': [...",[Stomp]
339817,SearchQA,[DOC] [TLE] songbird | bird | Britannica.com [...,"{'tokens': ['[DOC]', '[TLE]', 'songbird', '|',...",f932dd62ec5148cc8facb52b454b6036,Nightingales & robins belong to this family of...,"{'tokens': ['Nightingales', '&', 'robins', 'be...","{'text': ['thrushes'], 'char_spans': [{'start'...",[thrushes]
339818,SearchQA,[DOC] [TLE] RPubs - What Is This Obscure Quest...,"{'tokens': ['[DOC]', '[TLE]', 'RPubs', '-', 'W...",57dc90f250d645d0a4bdeaed422f2059,This Puccini opera turns on the solution to 3 ...,"{'tokens': ['This', 'Puccini', 'opera', 'turns...","{'text': ['Turandot'], 'char_spans': [{'start'...",[Turandot]
339819,SearchQA,[DOC] [TLE] Game Show NewsNet - Jeopardy! Tour...,"{'tokens': ['[DOC]', '[TLE]', 'Game', 'Show', ...",4b0a634b898c42fcace0b39a370936f3,Guyanese capital named for a Hanoverian monarch,"{'tokens': ['Guyanese', 'capital', 'named', 'f...","{'text': ['Georgetown'], 'char_spans': [{'star...",[Georgetown]

In [10]:
from datasets import Dataset

sub_dataset = Dataset.from_pandas(subset)

In [ ]:
sub_dataset
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

In [21]:
sub_dataset.save_to_disk("mrqa_subset")

Saving the dataset (7/7 shards): 100%|██████████| 265660/265660 [00:02<00:00, 122061.49 examples/s]

In [3]:
load_dataset("Seongill/nq")

Downloading readme: 100%|██████████| 638/638 [00:00<00:00, 2.94MB/s]
Downloading data: 100%|██████████| 168M/168M [00:38<00:00, 4.37MB/s]
Downloading data: 100%|██████████| 168M/168M [00:32<00:00, 5.24MB/s]
Downloading data: 100%|██████████| 13.8M/13.8M [00:02<00:00, 6.49MB/s]
Generating train split: 100%|██████████| 87925/87925 [00:01<00:00, 60877.23 examples/s]
Generating test split: 100%|██████████| 3610/3610 [00:00<00:00, 58019.17 examples/s]

DatasetDict({
    train: Dataset({
        features: ['question', 'answers', 'ctxs'],
        num_rows: 87925
    })
    test: Dataset({
        features: ['question', 'answers', 'ctxs'],
        num_rows: 3610
    })
})

True

In [2]:
# Load model directly
# Load model directly
from transformers import AutoTokenizer, AutoModelForCausalLM

tokenizer = AutoTokenizer.from_pretrained("mistralai/Mistral-7B-v0.1")
model = AutoModelForCausalLM.from_pretrained("mistralai/Mistral-7B-v0.1")

tokenizer_config.json: 100%|██████████| 967/967 [00:00<00:00, 3.73MB/s]
tokenizer.model: 100%|██████████| 493k/493k [00:00<00:00, 17.4MB/s]
tokenizer.json: 100%|██████████| 1.80M/1.80M [00:01<00:00, 1.79MB/s]
special_tokens_map.json: 100%|██████████| 72.0/72.0 [00:00<00:00, 417kB/s]
config.json: 100%|██████████| 571/571 [00:00<00:00, 1.23MB/s]
model.safetensors.index.json: 100%|██████████| 25.1k/25.1k [00:00<00:00, 43.2MB/s]
model-00001-of-00002.safetensors: 100%|██████████| 9.94G/9.94G [14:15<00:00, 11.6MB/s]
model-00002-of-00002.safetensors: 100%|██████████| 4.54G/4.54G [06:31<00:00, 11.6MB/s]
Downloading shards: 100%|██████████| 2/2 [20:47<00:00, 623.60s/it]
Loading checkpoint shards: 100%|██████████| 2/2 [00:02<00:00,  1.05s/it]
generation_config.json: 100%|██████████| 116/116 [00:00<00:00, 557kB/s]

In [3]:
model

MistralForCausalLM(
  (model): MistralModel(
    (embed_tokens): Embedding(32000, 4096)
    (layers): ModuleList(
      (0-31): 32 x MistralDecoderLayer(
        (self_attn): MistralAttention(
          (q_proj): Linear(in_features=4096, out_features=4096, bias=False)
          (k_proj): Linear(in_features=4096, out_features=1024, bias=False)
          (v_proj): Linear(in_features=4096, out_features=1024, bias=False)
          (o_proj): Linear(in_features=4096, out_features=4096, bias=False)
          (rotary_emb): MistralRotaryEmbedding()
        )
        (mlp): MistralMLP(
          (gate_proj): Linear(in_features=4096, out_features=14336, bias=False)
          (up_proj): Linear(in_features=4096, out_features=14336, bias=False)
          (down_proj): Linear(in_features=14336, out_features=4096, bias=False)
          (act_fn): SiLU()
        )
        (input_layernorm): MistralRMSNorm()
        (post_attention_layernorm): MistralRMSNorm()
      )
    )
    (norm): MistralRMSNorm()
  )
  (lm_head): Linear(in_features=4096, out_features=32000, bias=False)
)